.calendar-wrap {
    width: 100%;
    display: grid;
    background-color: inherit;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 35px);
    grid-gap: 1px;
    grid-template-areas: 
    "mon tue wed thu fri sat sun" 
    "day1 day2 day3 day4 day5 day6 day7" 
    "day8 day9 day10 day11 day12 day13 day14" 
    "day15 day16 day17 day18 day19 day20 day21" 
    "day22 day23 day24 day25 day26 day27 day28" 
    "day29 day30 day31 day32 day33 day34 day35" 
    "day36 day37 day38 day39 day40 day41 day42";
}
.weekdays, .days-wrap.active-this-month {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.weekdays h6, .days-wrap p {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    margin: 0;
}
.sun { grid-area: sun;}
.mon { grid-area: mon;}
.tue { grid-area: tue;}
.wed { grid-area: wed;}
.thu { grid-area: thu;}
.fri { grid-area: fri;}
.sat { grid-area: sat;}
.day-1 { grid-area: day1;}
.day-2 { grid-area: day2;}
.day-3 { grid-area: day3;}
.day-4 { grid-area: day4;}
.day-5 { grid-area: day5;}
.day-6 { grid-area: day6;}
.day-7 { grid-area: day7;}
.day-8 { grid-area: day8;}
.day-9 { grid-area: day9;}
.day-10 { grid-area: day10;}
.day-11 { grid-area: day11;}
.day-12 { grid-area: day12;}
.day-13 { grid-area: day13;}
.day-14 { grid-area: day14;}
.day-15 { grid-area: day15;}
.day-16 { grid-area: day16;}
.day-17 { grid-area: day17;}
.day-18 { grid-area: day18;}
.day-19 { grid-area: day19;}
.day-20 { grid-area: day20;}
.day-21 { grid-area: day21;}
.day-22 { grid-area: day22;}
.day-23 { grid-area: day23;}
.day-24 { grid-area: day24;}
.day-25 { grid-area: day25;}
.day-26 { grid-area: day26;}
.day-27 { grid-area: day27;}
.day-28 { grid-area: day28;}
.day-29 { grid-area: day29;}
.day-30 { grid-area: day30;}
.day-31 { grid-area: day31;}
.day-32 { grid-area: day32;}
.day-33 { grid-area: day33;}
.day-34 { grid-area: day34;}
.day-35 { grid-area: day35;}
.day-36 { grid-area: day36;}
.day-37 { grid-area: day37;}
.day-38 { grid-area: day38;}
.day-39 { grid-area: day39;}
.day-40 { grid-area: day40;}
.day-41 { grid-area: day41;}
.day-42 { grid-area: day42;}
  
.beginning-inactive {
    background: #FFFFFF;
}
/* .active-this-month {

} */
.inactive-this-month {
    display: none;
}
.available {
    background: #23AC00;
}
.reserved {
    background: #FADA14;
}
.booked {
    background: #BB251A;
}
.checking {
    color: #FFFFFF;
}

input[type="date"]{
    background: url('../img/Vector-dg.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 90%;
    padding: 5px;
    outline: none;
    background-color: #FFFFFF;
}
input[type="date"]:hover, input[type="date"]:active, input[type="date"]:focus {
    background: url('../img/Vector-dg.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 90%;
    padding: 5px;
    background-color: #FFFFFF;
}
 ::-webkit-calendar-picker-indicator{
    opacity: 0;
   cursor: pointer;
}
select:hover, select:active, select:focus {
    outline: none;
}

.table {
    border-collapse: separate;
    border-spacing: 0.1px;
    border-radius: 5px;
    border: 1px solid #076DF320;
}
table td, table th {
    border-radius: 5px;
    border: 1px solid #076DF320 !important;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 14px;
}
@media only screen and (max-width: 991.99px) {
    table td, table th {
        font-size: 14px;
        line-height: 14px;
    }
}
@media only screen and (max-width: 575.99px) {
    table td, table th {
        font-size: 12px;
        line-height: 12px;
    }
}
@media only screen and (max-width: 389.99px) {
    table td, table th {
        font-size: 10.5px;
        line-height: 11px;
    }
}
@media only screen and (max-width: 359.99px) {
    table td, table th {
        font-size: 8.5px;
        line-height: 9px;
    }
}
.room-available {
    color: #23AC00;
}
.room-reserved {
    color: #FADA14;
}
.room-booked {
    color:#BB251A;
}
input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 2px rgba(0, 0, 0, 0.05);
}
input[type="checkbox"]:checked {
    background: #AF13AF;
    border: 1px solid #AF13AF;
    outline: none;
}

